/*######################################################################################################################
#
#
#	QMainWindow
#
#
######################################################################################################################*/


QMainWindow{
background:rgb(100, 100, 100);
color: white;
}

/*######################################################################################################################
#
#
#	QWidget
#
#
######################################################################################################################*/

QWidget{
color:white;
}

/*######################################################################################################################
#
#
#	QFrame
#
#
######################################################################################################################*/


QFrame{
background:rgb(75, 75, 75);
}

/*######################################################################################################################
#
#
#	QMenuBar
#
#
######################################################################################################################*/

QMenuBar{
background-color:#111517;
border-bottom:1px solid black;
border-radius:0;
margin:0;
padding:0;
}


QMenuBar::item {
padding: 5px 10px 5px 10px;
border-radius:0;
border:none;
margin-bottom:-1px
}


QMenuBar::item:selected {
background-color:#0b0e0f;
border-top: 2px solid #33839f;
padding-top:3px;
}


QMenuBar::item:pressed {
background-color:#0b0e0f;
border-top: 2px solid #33839f;
padding-top:3px;
}

/*######################################################################################################################
#
#
#	QMenu
#
#
######################################################################################################################*/

QMenu{
padding:0;
margin:0;
outline:8px solid red;
background-color:#0b0e0f;
}

/*######################################################################################################################
#
#
#	QStatusBar
#
#
######################################################################################################################*/

QStatusBar{
background:rgb(125, 125,125);
}

QStatusBar::item {
}

/*######################################################################################################################
#
#
#	QPushButton
#
#
######################################################################################################################*/

QPushButton{
background-color:#269bc4;
border:none;
padding:5;
margin:0;
height:20;
}

QPushButton:hover{
background:rgb(197, 238, 255);
}

tagButton{
background:red;
border-radius:5;
margin:0;
padding:5;
}

/*######################################################################################################################
#
#
#	QToolButton
#
#
######################################################################################################################*/

QToolButton{
background:none;
border:none;
height:19;
width:19;
margin:0;
padding:1;
color:white;
}

QToolButton:hover{
border:1px solid white;
}

/*######################################################################################################################
#
#
#	QLineEdit
#
#
######################################################################################################################*/

QLineEdit{
background:rgb(50, 50, 50);
color:white;
border:none;
padding:5;
margin:0;
height:15;
}


/*######################################################################################################################
#
#
#	QTabWidget
#
#
######################################################################################################################*/

QTabWidget{
background:rgb(75, 75, 75);
}

QTabWidget::pane > QWidget{
background:rgb(75, 75, 75);
}

QTabWidget::pane{
border-top: 40px solid rgb(75, 75, 75);
position: absolute;
top: -40px;
background:rgb(75, 75, 75);
}

QTabBar{
background:rgb(75, 75, 75);
}

QTabBar::tab {
color:rgb(120, 120, 120);
padding:10;
background:rgb(75, 75, 75);
height:15;
font:bold;
font-size:14px;
width:60;
height:20;
}

QTabBar::tab:selected{
color:white;
}

QTabBar::tab:hover {
color:white;
}

QTabBar::tab:selected:hover {
color:white;
}

/*######################################################################################################################
#
#
#	QTextEdit
#
#
######################################################################################################################*/

QTextEdit{
background:rgb(50, 50, 50);
color:white;
border:none;
padding:2;
margin:0;
}
/*######################################################################################################################
#
#
#	QLabel | Info
#
#
######################################################################################################################*/

QLabel[accessibleName="info"]{
color:grey;
}


/*######################################################################################################################
#
#
#	QScrollBar
#
#
######################################################################################################################*/

QScrollBar {
width: 5px;
height: 5px;
background:transparent;
border:0;
border-radius:0;
}

QScrollBar::groove {
background:none;
border:0;
border-radius:0;
}

QScrollBar::handle{
background-color:rgb(161, 230, 255);
min-height: 20px;
border:none;
}


QScrollBar::add-line{
border: none;
background: none;
}


QScrollBar::sub-line{
border: none;
background: none;
}


QScrollBar::add-page, QScrollBar::sub-page {
background: none;
border: none;
}

/*######################################################################################################################
#
#
#	QListView
#
#
######################################################################################################################*/

QListView {
border: 0;
}


QListView::item {
background:none;
color:white;
border:none;
padding:5 5 5 12;
}


QListView::item:selected {
background-color:rgb(160, 160, 160);
color:white;
}


QListView::item:hover {
background:none;
border:none;
color:white;
}


QListView::item:selected:hover {
background-color:rgb(160, 160, 160);
color:white;
}

/*######################################################################################################################
#
#
#	QTreeView
#
#
######################################################################################################################*/

QTreeView{
show-decoration-selected: 1;
}

QHeaderView::section {
background-color: black;
border:none;
margin:0;
padding:0;
}

QTreeView::item{
background:none;
color:white;
border:none;
padding:5 5 5 12;
margin:0;
}


QTreeView::item:hover {
border:none;
background-color:rgb(160, 160, 160);
}

QTreeView::branch:hover {
border:none;
background-color:rgb(160, 160, 160);
}

QTreeView::item:selected {
color:white;
border:none;
background-color:#269bc4;
}

QTreeView::branch:selected {
color:white;
border:none;
background-color:#269bc4;
}

QTreeView::item:open{
}



/*######################################################################################################################
#
#
#	QSplitter
#
#
######################################################################################################################*/

QSplitter{
background:rgb(100, 100, 100);
}

QSplitter::handle:horizontal{
width: 10px;
}

QSplitter::handle:vertical{
height: 10px;
}

QSplitter::handle:pressed{
background-color:rgb(161, 230, 255);
}

QSplitter::handle:hover{
background-color:rgb(161, 230, 255);
}

QSplitterHandle:hover{
}  

QSplitter::handle:horizontal:hover{
}

/*######################################################################################################################
#
#
#	QGroupBox
#
#
######################################################################################################################*/

QGroupBox {
border-top: 1px solid grey;
margin-top: 10; /* leave space at the top for the title */
padding-top:40;
}


QGroupBox::title {
border-top: 1px solid grey;
padding:10 10 20 0;
}

QGroupBox:hover{
}
