*.pyc
*.axie
*.cup
*.ui
*.qrc
*.ai
*.psd
misc
legacy_eixml.py
eixml.py
studiolibrary
test_data
extras
temp
.mayaSwatches
BigTimelineWindow.py
maya_to_keyframe_mp.py
timeline_markers.py
.mayaSwatches
*.swatches
workfiles
