/*
prism theme




*/



/* template specific #################################################################################################*/


#headerWidget{
background-color:black;
color:white;
}


#headerWidget QLabel, QToolButton{
color:white
}


#headerWidget QToolButton{
color:white;
background:none;
border:none;
height:10px;
}


#bodyWidget{
background-color:#111517;
border:1px solid black;
}


/* QWidget ###########################################################################################################*/

QMainWindow{
background-color:#111517;
color: white;
border:none;
border-radius:0;
}

QWidget{
background:#111517;
border:none;
border-radius:0;
color: white;
padding:0;
margin:0;
}

/* QGroupBox ###########################################################################################################*/

QGroupBox {
border-top: 2px solid #3f4d50;
margin-top: 0; /* leave space at the top for the title */
padding-top:20;
font:bold 12px arial, sans-serif;
}

QGroupBox::title {
border-top: 2px solid #3f4d50;
padding:5px 8px 5px 8px;
}
QGroupBox:hover{
border-top: 2px solid #269bc4;
}

/* QLabel ###########################################################################################################*/

QLabel{
background:none;
color:white;
border:none;
border-radius:0;
}


QLabel[accessibleName="header"]{
font:bold 20px arial, sans-serif;
color:rgb(255, 255, 255);
padding:5px 8px 5px 8px;
background-color:#0b0e0f;
border-top: 2px solid #33839f;
}


QLabel[accessibleName="header"]:hover{
color:rgb(255, 255, 255);
padding:5px 8px 5px 8px;
background-color:#0b0e0f;
border-top: 2px solid #269bc4;
}

QLabel[accessibleName="info"]{
color:#3f4d50;
}

QLabel[accessibleName="infoData"]{
color:White;
margin-left:2;
}

/* Menus ###########################################################################################################*/

QMenuBar{
background-color:#111517;
border-bottom:1px solid black;
border-radius:0;
margin:0;
padding:0;
}


QMenuBar::item {
padding: 5px 10px 5px 10px;
border-radius:0;
border:none;
margin-bottom:-1px
}


QMenuBar::item:selected {
background-color:#0b0e0f;
border-top: 2px solid #33839f;
padding-top:3px;
}


QMenuBar::item:pressed {
background-color:#0b0e0f;
border-top: 2px solid #33839f;
padding-top:3px;
}


QMenu{
padding:0;
margin:0;
outline:8px solid red;
background-color:#0b0e0f;
}


QMenu::item {
padding: 3px 10px 3px 10px;
}


QMenu::item:selected{
background-color:#3f4d50;
}

QMenu[accessibleName="popup"]{
background:#3f4d50;
border:1px solid black;
}

QMenu[accessibleName="popup"] QSlider:handle{
background:white;
}


/* PushButton ###########################################################################################################*/

QPushButton{
color:white;
background:#33839f;
padding:5px;
}


QPushButton:hover{
background:#269bc4;
}


QPushButton[accessibleName="contentButton"]{
color:rgb(255, 255, 255);
background-color:#3f4d50;
margin:0;
}


QPushButton[accessibleName="contentButton"]:hover{
color:rgb(255, 255, 255);
border:1px solid #33839f;
margin:0;
}


QPushButton[accessibleName="contentButton"]:checked{
color:rgb(255, 255, 255);
border:1px solid #33839f;
border-radius:5px;
margin:0;
}

QWidget[accessibleName="contentButton"]{
background-color: rgb(42,42,42);
}

/* Tool Buttons ###########################################################################################################*/

QToolButton {
padding:1px;
}

QToolButton[popupMode="1"]{
}

QToolButton[popupMode="2"]{
}

QToolButton:hover,
QToolButton::menu-button:hover{
}

QToolButton:checked,
QToolButton:pressed,
QToolButton::menu-button:pressed {
border:1px solid #33839f;
margin:0;
padding:0;
}

QToolButton::menu-indicator {
image:none;
}

QToolButton::menu-button {
}

QToolButton::menu-arrow {
}

QToolButton::menu-arrow:open {
}


/* Splitter ###########################################################################################################*/

QSplitter{
background-color:#111517;
}


QSplitter::handle{
background:none;
}


QSplitter::handle:hover{
}


QSplitter::handle:horizontal{
}


QSplitter::handle:vertical{
}


QScrollArea QWidget{
background-color:#0b0e0f;
}

/* Tabs ###########################################################################################################*/

QTabWidget QPushButton{
color:rgb(255, 255, 255);
background-color:#33839f;
}


QTabWidget QPushButton:hover{
background-color:#269bc4;
}


QTabWidget QStackedWidget > QWidget {
background-color:#0b0e0f;
}


QTabWidget::pane {
}


QTabWidget::pane:hover{
}


QTabBar::tab {
color:rgb(120, 120, 120);
padding:5px 8px 5px 8px;
border:0;
}


QTabBar::tab:selected{
color:rgb(255, 255, 255);
background-color:#0b0e0f;
border-top: 2px solid #33839f;
padding-top:3px;
}


QTabBar::tab:hover {
color:rgb(255, 255, 255);
border-top: 2px solid #33839f;
padding-top:3px;
}


QTabBar::tab:selected:hover {
color:rgb(255, 255, 255);
border-top: 2px solid #269bc4;
padding-top:3px;
}


QScrollBar {
width: 5px;
height: 5px;
background-color: #0b0e0f;
border:0;
border-radius:0;
}

QScrollBar::groove {
background:none;
border:0;
border-radius:0;
}

QScrollBar::handle{
background:#33839f;
min-height: 20px;
border:none;
}


QScrollBar::add-line{
border: none;
background: none;
}


QScrollBar::sub-line{
border: none;
background: none;
}


QScrollBar::add-page, QScrollBar::sub-page {
background: none;
border: none;
}

/* QListView ###########################################################################################################*/

QListView {
border: 0;
background-color:#111517;
}


QListView::item {
height:25px;
background:none;
}


QListView::item:selected {
background-color:#0b0e0f;
color:white;
border-left: 2px solid #33839f;
}


QListView::item:hover {
background:none;
border:none;
}


QListView::item:selected:hover {
background-color: #0b0e0f;
border-left: 2px solid #269bc4;
}


Line{
color:rgb(80,80,80);
}

/* QSlider ###########################################################################################################*/


QSlider{
background:none;
border:none;
}

QSlider::groove:horizontal {
height: 3px;
background: #0b0e0f;
margin: 0px;
border:none;
border-radius:none;
}

QSlider::handle:horizontal {
background: #33839f;
border:none;
width: 5px;
height: 5px;
margin-top: -3px;
margin-bottom: -3px;
border-radius:none;
}

QSlider::groove:vertical {
border:none;
width: 3px;
background: #0b0e0f;
margin: 0px;
border-radius:none;
}

QSlider::handle:vertical {
background: #33839f;
border: none;
width: 5px;
height: 5px;
margin-left: -3px;
margin-right: -3px;
border-radius: none;
}

QSlider::handle:hover {
background-color: #269bc4;
}

/* QTreeView ###########################################################################################################*/

QTreeView{
border: 1px solid black;
background-color:#111517;
show-decoration-selected: 1;
}

QHeaderView::section {
background-color: black;
border:none;
}


QTreeView::item {
padding-top:2px;
padding-bottom:2px;
}


QTreeView::item:hover {
border:none;
background-color:#33839f;
}


QTreeView::item:selected {
color:white;
padding-top:2px;
padding-bottom:2px;
background-color:#3f4d50;
/*
background-color:#0b0e0f;
color:white;
border-left: 2px solid #33839f;
*/
}

QTreeView::item:selected:hover{
border:none;
background-color:#33839f;
}

QTreeView::branch{
background:none;
border:none;
}
QTreeView::branch:hover{
border:none;
background-color:#33839f;
}


QTreeView::branch:selected{
border:none;
background-color:#3f4d50;
}

QTreeView::branch:selected:hover{
border:none;
background-color:#33839f;
}

QTreeView::branch:open{
background:none;
image: url(I:/prism/ui/images/branch_open.png);
}

QTreeView::branch:selected:open{
background-color:#3f4d50;
}
QTreeView::branch:hover:open{
background-color:#33839f;
}

QTreeView::branch:closed:has-children{
background:none;
image: url(I:/prism/ui/images/branch_closed.png);
}

QTreeView::branch:closed:has-children:selected{
background-color:#3f4d50;
}

QTreeView::branch:closed:has-children:hover{
background-color:#33839f;
}


/* QToolTip ###########################################################################################################*/

QToolTip{
color:white;
border: 1px solid black;
border-radius:none;
background-color:#3f4d50;
}

/* QCombobox ###########################################################################################################*/

QComboBox{
selection-background-color: #3daee9;
border-style: solid;
border: 1px solid #76797C;
border-radius: 2px;
padding: 5px;
min-width: 75px;
}

QComboBox:on {
padding-top: 3px;
padding-left: 4px;
selection-background-color: #4a4a4a;
}

QComboBox QAbstractItemView {
background-color: #232629;
border-radius: 2px;
border: 1px solid #76797C;
selection-background-color: #18465d;
}

QComboBox::drop-down {
subcontrol-origin: padding;
subcontrol-position: top right;
width: 15px;
border-left-width: 0px;
border-left-color: darkgray;
border-left-style: solid;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}



/* QSpinBox ###########################################################################################################*/

QAbstractSpinBox {
padding: 5px;
border: none;
background-color: #3f4d50;
border:none;
}

/* QCheckBox ###########################################################################################################*/

QCheckBox{
}

QCheckBox::indicator {
}

QCheckBox::indicator:unchecked {
}

QCheckBox::indicator:unchecked:hover {
}

QCheckBox::indicator:unchecked:pressed {
}

QCheckBox::indicator:checked {
}

QCheckBox::indicator:checked:hover {
}

QCheckBox::indicator:checked:pressed {
}

QCheckBox::indicator:indeterminate:hover {
}

QCheckBox::indicator:indeterminate:pressed {
/*image: url(:/images/checkbox_indeterminate_pressed.png);*/
}

/* Line Edit ###########################################################################################################*/

QLineEdit{
background-color: red;
border:0;
padding:5px;
}
